html {
  font-family: "Roboto", "Arial", sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.calculator {
  float: left;
  text-align: center;
  max-width: 350px;
  height: 350px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1%;
}

.button-grid,
.operators {
  float: left;
}
.button-grid {
  width: 75%;
  height: 75%;
  text-align: right;
}
.operators {
  width: 25%;
  text-align: left;
}

.result {
  width: 88%;
  text-align: right;
  padding: 25px 10px;
  margin: 10px auto;
  font-size: 30px;
}

.btn {
  width: 32%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.btn.operator {
  width: 90%;
}
